@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff8c00 21.43%,
    #ff8c00 50.63%,
    #ff8c00  100%,
    #ff8c00 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(165, 59, 2, 0.347);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #b93d07 21.43%,
    #b93d07 50.63%,
    #b93d07 100%,
    #b93d07 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ff4a0e 21.43%,
    #ff4a0e 50.63%,
    #ff4a0e 100%,
    #ff4a0e 117.04%
  );
}

.active {
  color: #000000;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-black;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-black font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#fc4f1b] to-[#fc4f1b] font-bold font-primary hover:from-[#ff8c00] hover:to-[#db963b];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
